.ad-banner{
    height: 100%;
    width: 90%;
    background-color:white ;
    color:  #FF9100; 
    margin: 5px auto; 
    padding: 20px 10px;
    text-align: center;
    span{
        font-size: 15px;
        font-weight: 400;
    }
    
}