.footer{
    min-height: 350px;
    padding-top: 20px;
    a{
        font-weight: 700;
    }
    *{
        color: honeydew;

    }

    .footer-social-logo{
        height: 10vw;
        width: 10vw;
        max-height: 60px;
        max-width: 60px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
    }
    .youtube-logo{
        background-image: url('./imgs/youtube-logo-blackwhite.png');
    }
    .fb-logo{
        background-image: url('./imgs/fb-logo-blackwhite.png');
    }
    .google-play-logo{
        background-image: url('./imgs/google-play-logo.png');
    }
    .apple-store-logo{
        background-image: url('./imgs/apple-logo.png');
    }

    .footer-menu{
        *{
            flex-basis: 30%;
            text-align: center;
            padding: 5px;
        }
    }
}


