* {
  margin: 0;
  padding: 0;
  direction: rtl;
}

body {
  background-color: #ebebeb;
  overflow: auto;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}

.sticky-top0 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sticky-top-40 {
  position: -webkit-sticky;
  position: sticky;
  top: -40px;
}

.transion {
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.z-index-2 {
  z-index: 2;
}

.z-index5 {
  z-index: 5;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.display-none {
  visibility: hidden;
  opacity: 0;
}

.container-full {
  width: 100vw;
}

.container-85 {
  width: 85vw;
  margin: auto;
}

.container-60 {
  width: 60vw;
  margin: auto;
}

.container-half {
  width: 50vw;
  margin: auto;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar-titles {
  font-size: 12px;
}

.padding-4 {
  padding: 4px;
}

.padding-15 {
  padding: 15px;
}

.margin-auto {
  margin: auto;
}

.margin-4 {
  margin: 4px;
}

.margin-10 {
  margin: 10px;
}

.font-weight-light {
  font-weight: 200;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 700;
}

.font-size-small {
  font-size: 11px;
}

.text-align-center {
  text-align: center;
}

.word-break-keep-all {
  word-break: keep-all;
}

.main-text-color {
  color: #363636;
}

.bright-grey {
  color: #aaa6a6;
}

.white {
  color: white;
}

.orange {
  color: #FF7B00;
}

.orange-bold {
  color: #FF7100;
}

.orange-bold-bg {
  background-color: #FF7100;
}

.blue-bg {
  background-color: #632bff;
}

.white-bg {
  background-color: #ffffff;
}

.grey-bg {
  background-color: #EBEBEB;
}

.dark-gray-bg {
  background-color: #3f3a3a;
}

h2 {
  font-size: 17px;
}

a {
  text-decoration: none;
}

.green-btn {
  background-color: #0FCA80;
  color: white;
}

.green-btn:hover {
  background-color: #0E9C64;
}

.bottom-line {
  border-bottom: 1px solid #b1adad;
}

.new-project {
  height: 17px;
  width: 76px;
  font-size: 11px;
  background-color: #0495FF;
  padding: 1px 3px 1px 12px;
  color: white;
  position: absolute;
  bottom: 55px;
  right: -4px;
  border-radius: 0 3px 3px 0;
}

.triangle-right {
  width: 0;
  height: 0;
  position: absolute;
  left: -5px;
  top: 0;
  border-top: 8px solid #0495FF;
  border-left: 5px solid transparent;
  border-bottom: 9px solid #0495FF;
}

.heart-icon {
  background-image: url("../styles/imgs/heart.svg");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
}

.btn-rect, .sort-icon-btn, .filer-icon-btn, .map-icon-btn {
  width: 100px;
  height: 25px;
  background-color: white;
  border: #bebcbc 1px solid;
  text-align: left;
  font-size: 11px;
  margin: 3px;
  padding: 4px 4px 4px 12px;
  position: relative;
}

.sort-icon-btn, .filer-icon-btn, .map-icon-btn {
  background-image: url("../styles/imgs/sort-icon.png");
  background-size: 22%;
  background-repeat: no-repeat;
  background-position: 90%;
}

.filer-icon-btn {
  background-image: url("../styles/imgs/filter-icon.png");
  background-size: 14%;
}

.map-icon-btn {
  width: 50px;
  border: 1px solid #0dc25e;
  background-image: url("../styles/imgs/map-icon.png");
  padding-left: 6px;
}

.modal-bg {
  width: 100vw;
  height: 100vh;
  background-color: #0000003b;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
/*# sourceMappingURL=general-styles.css.map */