* {
  margin: 0;
  padding: 0;
  direction: rtl;
}

body {
  background-color: white;
  overflow: auto;
  width: 100vw;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}

.fixed-top0 {
  position: fixed;
  top: 0;
}

.sticky-top0 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sticky-top-40 {
  position: -webkit-sticky;
  position: sticky;
  top: -40px;
}

.transion {
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.z-index-2 {
  z-index: 2;
}

.z-index5 {
  z-index: 5;
}

.z-index10 {
  z-index: 20;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.width-100 {
  width: 100%;
}

.width-90 {
  width: 90%;
}

.visibility-hidden {
  visibility: hidden;
  opacity: 0;
}

.display-none {
  display: none;
}

.container-full {
  width: 100vw;
}

.container-85 {
  width: 85vw;
  margin: 5px auto;
}

.container-60 {
  width: 60vw;
  margin: 5px auto;
}

.container-50 {
  width: 50vw;
  margin: 5px auto;
}

.container-half {
  width: 50vw;
  margin: auto;
}

.container-over-flow-hidden {
  overflow: scroll;
  background: transparent;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row-rev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-grow-2 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.flex-grow-3 {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.flex-grow-4 {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.flex-shrink-1 {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.flex-shrink-2 {
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

.flex-shrink-3 {
  -ms-flex-negative: 3;
      flex-shrink: 3;
}

.nav-bar-titles {
  font-size: 12px;
}

.padding-4 {
  padding: 4px;
}

.padding-4-8 {
  padding: 4px 8px;
}

.padding-8-4 {
  padding: 8px 4px;
}

.padding-8-16 {
  padding: 8px 16px;
}

.padding-10 {
  padding: 10px;
}

.padding-15 {
  padding: 15px;
}

.margin-auto {
  margin: auto;
}

.margin-4 {
  margin: 4px;
}

.margin-5 {
  margin: 5px;
}

.margin-10 {
  margin: 10px;
}

.margin-20 {
  margin: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-4 {
  margin-bottom: 4px;
}

.margin-bottom-10 {
  margin-bottom: 40px;
}

.font-weight-light {
  font-weight: 200;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 700;
}

.font-size-small {
  font-size: 15px;
}

.font-size-ex-small {
  font-size: 9px;
}

.text-align-center {
  text-align: center;
}

.word-break-keep-all {
  word-break: keep-all;
}

.word-break-break-all {
  word-break: break-word;
}

.white-space-nowrap {
  white-space: nowrap;
}

.text-underline {
  text-decoration: underline;
}

.main-text-color {
  color: #363636;
}

.bright-grey {
  color: #aaa6a6;
}

.white {
  color: white;
}

.orange {
  color: #FF7B00;
}

.orange-bold {
  color: #FF7100;
}

.orange-bold-bg {
  background-color: #FF7100;
}

.white-bg {
  background-color: #ffffff;
}

.grey-bg {
  background-color: #EBEBEB;
}

.dark-gray-bg {
  background-color: #3f3a3a;
}

h2 {
  font-size: 17px;
}

a {
  text-decoration: none;
}

.green-btn {
  background-color: #0FCA80;
  color: white;
}

.green-btn:hover {
  background-color: #0E9C64;
}

input, select {
  border: 1px #c9c4c4b0 solid;
  min-width: 10px;
  background-color: #ffffff;
  outline: none;
}

.separator-line {
  border-bottom: 1px solid #c9c4c4b0;
  height: 10px;
  margin-bottom: 8px;
}

.small-separator-line {
  border-bottom: 1px solid #c9c4c4b0;
  height: 100%;
  min-width: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.rounded-corners {
  border-radius: 2%;
}

.grey-border {
  border: 1px #c9c4c4b0 solid;
}

.bottom-line {
  border-bottom: 1px solid #c9c4c4b0;
  padding-bottom: 8px;
}

.new-project {
  height: 17px;
  width: 76px;
  font-size: 11px;
  background-color: #0495FF;
  padding: 1px 3px 1px 12px;
  color: white;
  position: absolute;
  bottom: 55px;
  right: -4px;
  border-radius: 0 3px 3px 0;
}

.triangle-right {
  width: 0;
  height: 0;
  position: absolute;
  left: -5px;
  top: 0;
  border-top: 8px solid #0495FF;
  border-left: 5px solid transparent;
  border-bottom: 9px solid #0495FF;
}

.heart-icon, .apartmentsImg, .houseImg, .fenceImg {
  background-image: url("../styles/imgs/heart.svg");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
}

.apartmentsImg, .houseImg, .fenceImg {
  background-image: url("https://assets.yad2.co.il/yad2site/y2assets/images/realestate/Building.svg");
  background-size: 90%;
}

.houseImg {
  background-image: url("https://assets.yad2.co.il/yad2site/y2assets/images/realestate/Country-house.svg");
}

.fenceImg {
  background-image: url("https://assets.yad2.co.il/yad2site/y2assets/images/realestate/Other.svg");
}

.square {
  width: 90px;
  height: 90px;
}

.small-rect {
  width: auto;
  height: 25px;
  padding: 4px 22px;
  margin: 8px 4px;
  border-radius: 5%;
}

.btn-rect, .btn-ellips, .erase-btn, .sort-icon-btn, .filer-icon-btn, .map-icon-btn {
  width: 100px;
  height: 25px;
  border: #bebcbc 1px solid;
  text-align: left;
  font-size: 11px;
  margin: 3px;
  padding: 4px 4px 4px 12px;
  position: relative;
}

.btn-ellips, .erase-btn {
  height: 30px;
  border-radius: 15px;
  width: auto;
  padding: 7px 15px 20px 15px;
  margin: 8px;
  border: none;
}

.erase-btn {
  border: none;
  padding-right: 8px;
  background-image: url("../styles/imgs/bin.png");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 90% 50%;
  padding-right: 25px;
  opacity: 75%;
}

.sort-icon-btn, .filer-icon-btn, .map-icon-btn {
  background-image: url("../styles/imgs/sort-icon.png");
  background-size: 22%;
  background-repeat: no-repeat;
  background-position: 90%;
}

.filer-icon-btn {
  background-image: url("../styles/imgs/filter-icon.png");
  background-size: 14%;
}

.map-icon-btn {
  width: 50px;
  border: 1px solid #0dc25e;
  background-image: url("../styles/imgs/map-icon.png");
  padding-left: 6px;
}

.fiexed-search-btn-container {
  background-color: #ffffff;
  position: fixed;
  height: 50px;
  bottom: 0;
  right: 0;
  width: 100vw;
}

.fiexed-search-btn {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: #FF7100;
  color: #ffffff;
  width: 90%;
  padding: 4px;
  margin: auto;
  height: 40px;
}

.modal-bg {
  width: 100vw;
  height: 100vh;
  background-color: #0000003b;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
}

.box-shadow-bottom {
  -webkit-box-shadow: #b3b1b1 0 4px 10px -2px;
          box-shadow: #b3b1b1 0 4px 10px -2px;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
/*# sourceMappingURL=general-styles.css.map */