
*{
    margin: 0;
    padding: 0;
    direction: rtl;
    
}
body{
    background-color:white;
    overflow: auto;

}
//position
.fixed-bottom{
    position: fixed;
    bottom: 0;
}
.fixed-top0{
    position: fixed;
    top: 0;
}
.sticky-top0{
    position:sticky;
    top:0;
}
.sticky-top-40{
    position:sticky;
    top:-40px;
}
.transion{
    transition: all 0.15s;
}
.z-index-2{
    z-index: 2;
}

.z-index5{
    z-index: 5;
}
.z-index10{
    z-index: 20;
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
//display
.width-100{
    width: 100%;
}
.visibility-hidden{
    // display: none;
    visibility: hidden;
    opacity: 0;
}
.display-none{
    display: none;
}
.container-full{
    width: 100vw; 
}
.container-85{
    width: 85vw;
    margin: 5px auto;
}
.container-60{
    width: 60vw;
    margin: 5px auto;
}
.container-50{
    width: 50vw;
    margin: 5px auto;
}
.container-half{
    width: 50vw;
    margin: auto;
}
.container-over-flow-hidden{
    overflow: scroll;
    background: transparent;
}
.flex-row{
   display: flex;
}
.flex-row-rev{
    display: flex;
    flex-direction: row-reverse;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}
.justify-space-evenly{
   justify-content: space-evenly;
}
.justify-center{
    justify-content: center;
 }
.justify-space-around{
    justify-content: space-around;
}

.justify-space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

.flex-grow-1{
    flex-grow: 1;
}
.flex-grow-2{
    flex-grow: 2;
}
.flex-grow-3{
    flex-grow: 3;
}
.flex-grow-4{
    flex-grow: 4;
}
// .flex-grow-5{
//     flex-grow: 5;
// }
// .flex-grow-6{
//     flex-grow: 6;
// }
// .flex-grow-7{
//     flex-grow: 7;
// }
// .flex-grow-8{
//     flex-grow: 8;
// }
// .flex-grow-9{
//     flex-grow:9 ;
// }

.flex-shrink-1{
    flex-shrink: 1;
}
.flex-shrink-2{
    flex-shrink: 2;
}
.flex-shrink-3{
    flex-shrink: 3;
}
//sizes
.nav-bar-titles{
    font-size: 12px;
}

//margin&padding
.padding-4{
    padding: 4px;
}
.padding-4-8{
    padding: 4px 8px;
}
.padding-8-4{
    padding: 8px 4px;
}
.padding-8-16{
    padding: 8px 16px;
}
.padding-10{
    padding: 10px;
}
.padding-15{
    padding: 15px;
}
.margin-auto{
    margin: auto;
}
.margin-4{
    margin: 4px;
}
.margin-5{
    margin: 5px;
}
.margin-10{
    margin: 10px;
}
.margin-20{
    margin: 20px;
}
.margin-bottom-4{
    margin-bottom: 4px;
}


//text
.font-weight-light{
    font-weight: 200;
}
.font-weight-regular{
    font-weight: 400;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-bold{
    font-weight: 700;
}
.font-size-small{
    font-size: 11px;
}

.font-size-ex-small{
    font-size: 9px;
}
.text-align-center{
    text-align: center;
}
.word-break-keep-all{
    word-break: keep-all;
    // word-break: break-word;
}
.word-break-break-all{
    word-break:break-word;
}
.white-space-nowrap{
    white-space: nowrap;
}
.text-underline{
    text-decoration: underline;
}
//colors

.main-text-color{
    color: #363636;
}
.bright-grey{
    color: rgb(170, 166, 166);
}
.white{
    color: white;
}
.orange{
    color: #FF7B00;
}

.orange-bold{
    color: #FF7100;
}

.orange-bold-bg{
    background-color: #FF7100;
}


.white-bg{
    background-color: #ffffff;
}
.grey-bg{
    background-color: #EBEBEB;
}
.dark-gray-bg{
    background-color: rgb(63, 58, 58);
}
//elements
h2{
    font-size:  17px;
}
a{
    // color: #363636;
    text-decoration: none;
}

.green-btn{
    background-color: #0FCA80; 
    color: white;
}
.green-btn:hover{
    background-color: #0E9C64;
}


//special
.separator-line{
    border-bottom: 1px solid #c9c4c4b0;
    height: 10px;
    margin-bottom: 8px;
   
}
.small-separator-line{
    border-bottom: 1px solid #c9c4c4b0;
    height: 100%;
    align-self: center;
}
.rounded-corners{
    border-radius: 2%;
}
.grey-border{
    border: 1px #c9c4c4b0 solid;
}
.bottom-line{
   border-bottom: 1px solid #c9c4c4b0;
   padding-bottom: 8px;
}
.new-project{
    height: 17px;
    width: 76px;
    font-size: 11px;
    background-color: #0495FF;
    padding:1px 3px 1px 12px;
    color: white;
    position: absolute;
    bottom: 55px;
    right: -4px;
    border-radius: 0 3px 3px 0;
}
.triangle-right {
	width: 0;
	height: 0;
    position: absolute;
    left: -5px;
    top: 0;
	border-top: 8px solid #0495FF;
	border-left:5px solid transparent;
	border-bottom: 9px solid #0495FF;
}
.heart-icon{
    background-image: url('../styles/imgs/heart.svg');
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width:25px;
    border-radius: 50%;
    background-color: white;
}
.apartmentsImg{
    @extend .heart-icon;
    background-image: url('https://assets.yad2.co.il/yad2site/y2assets/images/realestate/Building.svg');
    background-size: 90%;

}
.houseImg{
    @extend .apartmentsImg;
    background-image: url('https://assets.yad2.co.il/yad2site/y2assets/images/realestate/Country-house.svg');
}
.fenceImg{
    @extend .apartmentsImg;
    background-image: url('https://assets.yad2.co.il/yad2site/y2assets/images/realestate/Other.svg');
}


.square{
    width: 90px;
    height: 90px;
}
.small-rect{
    width: auto;
    height: 25px;
    padding: 4px 22px;
    margin: 8px 4px;  
    border-radius: 5%;
  
}
.btn-rect{
    width: 100px;
    height: 25px;
    border: #bebcbc 1px solid;
    text-align: left;
    font-size:11px;
    margin: 3px;
    padding: 4px 4px 4px 12px;
    position: relative;
}
.btn-ellips{
    @extend .btn-rect;
    height: 30px;
    border-radius: 15px;
    width: auto;
    padding: 7px 15px 20px 15px;
    margin: 8px;
    border: none;
}
.erase-btn{
    @extend .btn-ellips;
    border: none;
    padding-right: 8px;
    background-image: url('../styles/imgs/bin.png');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    padding-right:25px;
    opacity: 75%
}

.sort-icon-btn{
    @extend .btn-rect;
    background-image: url('../styles/imgs/sort-icon.png');
    background-size: 22%;
    background-repeat: no-repeat;
    background-position: 90%;
}
.filer-icon-btn{
    @extend .sort-icon-btn;
    background-image: url('../styles/imgs/filter-icon.png');
    background-size: 14%;
  
}

.map-icon-btn{
    @extend .sort-icon-btn;
    width: 50px;
    border:1px solid rgb(13, 194, 94);
    background-image: url('../styles/imgs/map-icon.png');
    padding-left: 6px ; 
}
.modal-bg{
    width: 100vw;
    height: 100vh;
    background-color: #0000003b;
    z-index: 3;
    position:fixed;
    top: 0;
    left: 0;
}
.modal{

}
.box-shadow-bottom{
    box-shadow: rgb(179, 177, 177) 0 4px 10px -2px ;
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}


