#publish-categories-btns{
    *{
       min-width: 100px;
    }
    
    .mid-fat-separator-line{
        width: 20%;
        margin: auto;
        transform: translateY(-6px);
        
    }
   
}

.main-img-btn{
    border: #EBEBEB 4px solid;
}

